Flask==3.1.0
flask-cors==5.0.0
yfinance==0.2.65
pandas==2.3.2
numpy==2.3.2
scikit-learn==1.6.1
scipy==1.14.1
joblib==1.4.2
threadpoolctl==3.5.0
openpyxl==3.1.5
gnews==0.2.8
newspaper3k==0.2.8
lxml_html_clean==0.1.1
nltk==3.9.1
rapidfuzz==3.10.1
gunicorn==23.0.0
torch==2.5.1
python-dotenv==1.0.1
openai>=1.0.0
langchain==0.3.5
langchain-openai==0.2.4
Werkzeug==3.0.4
pyodbc==5.1.0
PyJWT==2.10.1
bcrypt==4.3.0